{
  "root": true,
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "no-unused-vars": 1
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extentions": ["js", "jsx", "css", "scss", "ts", "tsx"]
      }
    }
  }
}
